main {
    max-width: $max-width;
    margin: auto;
    width: 100%;

    section {
        position: relative;
        margin-bottom: 70px;

        figure {
            position: relative;
            display: flex;
            overflow: hidden;
        }
    }
}
