main {
    max-width: $max-width;
    margin: auto;
    width: 100%;

    // padding: 0 1rem;
    // @include xl {
    //     padding: 0;
    // }

    section {
        position: relative;
        margin-bottom: 70px;

        figure {
            position: relative;
            display: flex;
            overflow: hidden;
        }
    }
}
