$sm-figure-size: 240px !default;
$md-figure-size: 375px !default;
$xl-figure-size: 240px !default;

main {
    .FlexSection {
        &.FlexSection___blog {
            .FlexSection___blog_recent {
                article {
                    display: grid;
                    align-items: center;
                    background-color: $dark-grey;
                    margin-bottom: 30px;
                    
                    @include sm {
                        grid-template-columns: $sm-figure-size 1fr;
                    }
                    
                    @include md {
                        grid-template-columns: $md-figure-size 1fr;
                    }
                    
                    @include xl {
                        grid-template-columns: $xl-figure-size 1fr;
                    }

                    @include on-event {
                        figure {
                            > div {
                                transform: scale(1.25, 1.25);
                            }
                        }
                    }

                    figure {
                        > div {
                            transition: 0.7s transform;
                            
                            @include sm {
                                height: $sm-figure-size !important;
                            }

                            @include md {
                                height: $md-figure-size !important;
                            }

                            @include xl {
                                height: $xl-figure-size !important;
                            }
                        }
                    }

                    figure:before {
                        content: "";

                        position: absolute;
                        display: block;
                        z-index: 1;

                        width: 100%;
                        height: 100%;

                        background-color: rgba($color: $dark-grey, $alpha: 0.3);
                    }

                    .FlexSection___blog_recent_postMeta {
                        padding: 1rem 1.8rem;

                        time {
                            @include fontSize(18);

                            color: $text-secondary;
                        }

                        div {
                            @include fontSize(20);
                            font-family: $font-items;
                            font-weight: 900;
                            letter-spacing: 1.5px;
                            color: $text-secondary;
                        }

                        h3 {
                            @include fontSize(26);
                        }

                        .FlexSection___blog_recent_postMeta_readMore {
                            display: block;

                            @include fontSize(18);
                            text-align: right;
                            text-decoration: underline;
                            text-transform: uppercase;
                            letter-spacing: 1.25px;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }
}
