main {
    .FlexSection {
        &.FlexSection___service {
            justify-content: flex-end;

            @include md {
                @include on-event {
                    .FlexSection___service_image {
                        figure {
                            > a {
                                width: 75%;
                                height: 75%;

                                color: $text-primary;
                                background-color: rgba($color: $dark-grey, $alpha: 0.75);
                            }
                        }
                    }
                }
            }

            .FlexSection___service_content {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 0;
                z-index: 1;

                width: 100%;
                max-width: 320px;
                padding: 1rem;

                background-color: rgba($color: $dark-grey, $alpha: 0.75);

                @include md {
                    top: 160px;
                    transform: none;

                    max-width: 310px;
                    padding: 0;

                    background-color: transparent;
                }

                h2 {
                    @include fontSize(28);
                    font-weight: 900;
                }

                p {
                    color: $text-secondary;

                    font-style: italic;

                    padding-right: 2rem;
                }
            }

            .FlexSection___service_image {
                background-color: $dark-blue;

                figure {
                    position: relative;

                    opacity: 0.75;
                    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 0.9);

                    > a {
                        position: absolute;
                        bottom: 0;
                        z-index: 2;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        width: 100%;
                        padding: 1rem 0;
                        
                        font-weight: 700;
                        letter-spacing: 1px;
                        font-family: $font-heading;
                        text-decoration: underline;
                        
                        color: $text-primary;
                        background-color: rgba($color: $dark-grey, $alpha: 0.75);
                        transition: 0.5s all;

                        @include md {
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);

                            color: transparent;
                            background-color: transparent;

                            height: 5%;
                            width: 5%;
                        }
                    }
                }

                padding: 1.5rem;

                @include sm {
                    padding: 2rem 3rem;
                }

                @include xl {
                    padding: 4rem 6rem;
                }
            }

            &:nth-child(even) {
                justify-content: flex-start;

                .FlexSection___service_content {
                    left: initial;
                    right: 0;

                    text-align: right;

                    p {
                        padding-right: 0;
                        padding-left: 2rem;
                    }
                }

                .FlexSection___service_image {
                    figure {
                        box-shadow: -10px 10px 15px 5px rgba(0, 0, 0, 0.9);
                    }
                }
            }
        }
    }
}
