@import "../base";
@import "../layout";
@import "../layout/share";

header.Header {
    @include rwd(1052) {
        padding: 25px 0 50px 0;
    }
}

main {
    article.Page {
        margin-bottom: 70px;

        header {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;

            height: 500px;
            width: 100%;
            margin-bottom: 35px;

            @include rwd(1052) {
                height: 425px;
            }

            .Page_pageMeta {
                z-index: 2;
                max-width: $max-width / 1.5;
                h2 {
                    @include fluid-type(320px, 1152px, 32px, 48px);
                    font-family: $font-heading;
                    font-weight: 900;
                }
            }

            .Page_pageImage {
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 1;

                figure::before {
                    content: "";

                    position: absolute;
                    display: block;
                    z-index: 1;

                    width: 100%;
                    height: 100%;

                    background-color: rgba($color: $dark-grey, $alpha: 0.3);
                }
            }
        }

        section {
            padding: 0 1rem;
            margin: 0;
        }
    }
}
