@import "../base";
@import "../layout";

header.Header {
    @include rwd(1052) {
        padding: 25px 0 50px 0;
    }
}

main {
    article.Post {
        margin-bottom: 70px;

        header {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: center;

            height: 500px;
            margin-bottom: 35px;

            @include rwd(1052) {
                height: 425px;
            }

            .Post_postMeta {
                z-index: 2;
                max-width: $max-width / 1.5;

                time {
                    @include fontSize(22);
                    font-family: $font-items;
                }

                h2 {
                    @include fluid-type(320px, 1152px, 32px, 48px);
                    font-family: $font-heading;
                    font-weight: 900;
                }

                div {
                    @include fontSize(24);
                    font-family: $font-items;
                    font-weight: 900;
                    letter-spacing: 1.5px;
                }
            }

            .Post_postImage {
                position: absolute;
                bottom: 0;
                right: 0;
                z-index: 1;

                figure::before {
                    content: "";

                    position: absolute;
                    display: block;
                    z-index: 1;

                    width: 100%;
                    height: 100%;

                    background-color: rgba($color: $dark-grey, $alpha: 0.3);
                }
            }
        }

        section {
            padding: 0 1rem;
        }

        footer {
            margin-top: 35px;
            display: flex;

            @include sm {
            }
            justify-content: space-between;
            align-items: center;

            .Post_postTags {
                @include fontSize(16);
                font-family: $font-items;

                a {
                    @include fontSize(18);
                    font-weight: 700;
                    letter-spacing: 1.5px;
                }
            }

            .Post_postShare {
                display: flex;

                .SocialIcon {
                    outline: none;
                    cursor: pointer;
                    padding: 0.2rem;

                    circle,
                    path {
                        transition: 0.5s all;
                    }

                    @include on-event {
                        path {
                            fill: #ffffff !important;
                        }

                        &.SocialIcon___facebook {
                            circle {
                                fill: #3b5998 !important;
                            }
                        }
                        
                        &.SocialIcon___twitter {
                            circle {
                                fill: #00aced !important;
                            }
                        }

                        &.SocialIcon___whatsapp {
                            circle {
                                fill: #2cb742 !important;
                            }
                        }

                        &.SocialIcon___linkedin {
                            circle {
                                fill: #007fb1 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
