html {
    box-sizing: border-box;
    font: normal 125% / 1.2 $font-body;

    @include sm {
        font-size: 100%;
    }

    @include md {
        font-size: 125%;
    }

    overflow-x: hidden;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    color: $text-primary;
    background-color: $body-bg-color;

    padding: 17.5px 0;

    @include md {
        padding: 35px 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-heading;
}

a {
    color: inherit;
    text-decoration: none;

    transition: .3s all;

    @include on-event {
        text-decoration: underline;
        color: $text-secondary;
    }
}
