$font-body: "Roboto Condensed", "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$font-heading: "Comfortaa", "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;
$font-items: "Montserrat", "Open Sans", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", sans-serif !default;

$text-primary: #f0f8dd !default;
$text-secondary: #c8cfb7 !default;
$body-bg-color: #758387 !default;
$dark-blue: #384346 !default;
$dark-grey: #262626 !default;
$highlight-blue: #a8dcd1 !default;

$max-width: 1152px !default;

$screen-xs-min: 320px !default;

$screen-sm-min: 576px !default;

$screen-md-min: 768px !default;

$screen-lg-min: 992px !default;

$screen-xl-min: 1152px !default;
